<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <div id="contenedor_organigrama"></div>
    <input id="campoRecibeJsonOrg" type="hidden" value="{json}">
    <h3>{mensaje}</h3>

</div>