{namespace organigrama = CeisUfro\Organigrama\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="example" options="{group: 'CEIS'}" label="Extension que genera un organigrama a partir de un json">
			<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:flexform tag -->
			<flux:field.input name="enlace" label="ingrese url de servicio a los datos"></flux:field.input>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<!-- If you wish, place custom backend preview content here -->
	</f:section>

	<f:section name="Main">
		<organigrama:Organigrama enlace="{enlace}" />
	</f:section>
</div>
